{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% load censor_filter %}
{% load custom_tags %}

{% block content %}
    <h1>{{ Article.title|censor }}</h1>
    <hr>
    <h3>Общее количество новостей: {{ articles|length }}</h3>
    <h3>{% current_time '%d %b %Y' %}</h3>
    <hr>

    {% if perms.testapp.add_article %}
    <a href="{% url 'article_create' %}">Добавить объявление</a>
    {% endif %}

    {% if articles %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Превью статьи</td>
                <td>Дата создания</td>
                <td>Тип публикации</td>

                {% if perms.testapp.change_article or perms.testapp.delete_article %}
                    <td>Действия</td>
                {% endif %}
            </tr>

            {% for article in articles %}
            <tr>
                {% if article.upload %}
                <td><img scr="{{ article.upload.url }}" width="200" height="200"></td>
                {% endif %}

                <td>{{ article.title }}</td>
                <td>{{ article.text|truncatechars:20 }}</td>
                <td>{{ article.dateCreation|date:'d M Y'}}</td>
                <td>{{ article.get_category_display }}</td>

                <td>
                    {% if Article.author == request.user.author %}
                    <a href="{% url 'article_update' Article.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.testapp.delete_news %}
                    <a href="{% url 'article_delete' Article.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
        </table>
    {% endfor %}
    {% else %}
        <h2> На данный момент времени ни один пост не добавлен... </h2>
        <h3> Самое время опубликовать объявление в ленте ;) </h3>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}