{% extends 'default.html' %}
{% load static %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% load censor_filter %}
{% load custom_tags %}

{% block content %}
    <h3><b>Новость №{{ article.id }}</b></h3>
    <hr>
    <h4>{% current_time '%d %b %Y' %}</h4>
    <hr>

    {% if articles %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Превью статьи</td>
                <td>Дата создания</td>
                <td>Тип публикации</td>
            </tr>
            <tr>
                {% if article.upload %}
                <td><img scr="{{ article.upload.url }}" width="200" height="200"></td>
                {% endif %}

                <td>{{ article.title }}</td>
                <td>{{ article.text|truncatechars:20 }}</td>
                <td>{{ article.dateCreation|date:'d M Y'}}</td>
                <td>{{ article.get_category_display }}</td>

                <td>
                    {% if Article.author == request.user.author %}
                    <a href="{% url 'article_update' Article.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.testapp.delete_article %}
                    <a href="{% url 'article_delete' Article.id %}">Удалить</a>
                    {% endif %}
                </td>

            </tr>
        </table>
    {% else %}
        <h5> На данный момент времени ни один пост не добавлен... </h5>
        <h6> Опубликуйте свою статью ;) </h6>
    {% endif %}
    {% if perms.testapp.add_article %}
        <br><br><button href="{% url 'article_create' %}">Добавить объявление</button>
    {% endif %}
{% endblock content %}