{% extends 'default.html' %}
{% load static %}

{% block content %}
<h2>Личный кабинет {{ request.user.username }}</h2>
<div>Здесь может содержаться персональная информация каждого пользователя</div>

<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
<!--    <p><b>Введите запрос для поиска:<br></b></p>-->
    <input type="submit" value="Найти"/>
</form>

<br><button><a href="/article/profile/">Сбросить фильтр</a></button>
<hr>
<h4>Все отклики на выбранное объявление:</h4>
{% if comments %}
    {% for comment in comments %}
        <b>{{ comment.commentUser }}</b>
        <p>{{ comment.dateCreation }}</p>
        <p>{{ comment.text }}</p>
        {% if Comment.author == request.user.author %}
            <a href="{% url 'comment_update' comment.id %}"><button><small>Изменить</small></button></a>
            <a href="{% url 'comment_delete' comment.id %}"><button><small>Удалить</small></button></a>
        {% endif %}
    <hr>
    {% endfor %}
{% endif %}
{% endblock content %}
