{% extends 'default.html' %}
{% load static %}

{% block content %}
<h2>Личный кабинет {{ request.user.username }}</h2>
<div>Здесь может содержаться персональная информация каждого пользователя</div>

<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
<!--    <p><b>Введите запрос для поиска:<br></b></p>-->
    <input type="submit" value="Найти"/>
</form>

<br><button><a href="/article/profile/">Сбросить фильтр</a></button>
<hr>
<h4>Все отклики на выбранное объявление:</h4>
{% if comments %}
    {% for comment in comments %}
        <b>{{ comment.commentUser }}</b>
        <p>{{ comment.dateCreation }}</p>
        <p>{{ comment.text }}</p>
        {% if Comment.author == request.user.author %}
                <a href="{% url 'comment_update' comment.id %}"><button><small>Изменить</small></button></a>
            {% endif %}
            {% if perms.testapp.delete_comment %}
                <a href="{% url 'comment_delete' comment.id %}"><button><small>Удалить</small></button></a>
            {% endif %}
    <hr>
    {% endfor %}
{% endif %}
{% endblock content %}



<!--{% extends 'default.html' %}-->
<!--{% load static %}-->

<!--{% block title %}-->
<!--{{ article.title }}-->
<!--{% endblock title %}-->

<!--{% load censor_filter %}-->
<!--{% load custom_tags %}-->

<!--{% block title %}-->
<!--Article-->
<!--{% endblock title %}-->

<!--{% block content %}-->
<!--    <br>-->
<!--    <h1>Все новости</h1>-->
<!--    <h3>{% current_time '%d %b %Y' %}</h3>-->
<!--    <form action="" method="get">-->
<!--        {{ filterset.form.as_p }}-->
<!--    </form>-->
<!--    <hr>-->
<!--    {% if articles %}-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td><b>Файл</b></td>-->
<!--                <td><b>Заголовок</b></td>-->
<!--                <td><b>Превью статьи</b></td>-->
<!--                <td><b>Дата создания</b></td>-->
<!--                <td><b>Тип публикации</b></td>-->
<!--                <td><b>Автор</b></td>-->

<!--                {% if perms.testapp.update_article or perms.testapp.delete_article %}-->
<!--                    <td><b>Действия</b></td>-->
<!--                {% endif %}-->
<!--            </tr>-->

<!--            {% for article in articles %}-->
<!--            <tr>-->
<!--                {% if article.upload %}-->
<!--                <td><img scr="{{ article.upload.url }}" width="200" height="200"></td>-->
<!--                {% else %}-->
<!--                    <td> - </td>-->
<!--                {% endif %}-->

<!--                <td><a href="{% url 'article_detail' article.id %}">{{ article.title|censor }}</a></td>-->
<!--                <td><a href="{% url 'article_detail' article.id %}">{{ article.text|truncatechars:20 }}</a></td>-->
<!--                <td>{{ article.dateCreation|date:'d M Y'}}</td>-->
<!--                <td>{{ article.get_category_display }}</td>-->
<!--                <td>{{ article.author }}</td>-->

<!--                <td>-->
<!--                    {% if article.author == request.user %}-->
<!--                        <a href="{% url 'article_update' article.id %}"><button><small>Изменить</small></button></a>-->

<!--                        <a href="{% url 'article_delete' article.id %}"><button><small>Удалить</small></button></a>-->
<!--                    {% endif %}-->
<!--                </td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
<!--            {% else %}-->
<!--                <h5> На данный момент времени ни один пост не добавлен... </h5>-->
<!--                <h6> Самое время опубликовать объявление в ленте ;) </h6>-->

<!--                <br><br><small><button href="{% url 'article_create' %}">Добавить новое объявление</button></small>-->
<!--    {% endif %}-->
<!--<br>-->
<!--    {% if page_obj.has_previous %}-->
<!--        <a href="?{% url_replace page=1 %}">1</a>-->
<!--        {% if page_obj.previous_page_number != 1 %}-->
<!--            ...-->
<!--            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>-->
<!--        {% endif %}-->
<!--    {% endif %}-->

<!--    {{ page_obj.number }}-->

<!--    {% if page_obj.has_next %}-->
<!--        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>-->
<!--        {% if paginator.num_pages != page_obj.next_page_number %}-->
<!--            ...-->
<!--            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>-->
<!--        {% endif %}-->
<!--    {% endif %}-->
<!--{% endblock content %}-->